<header class="navbar">
    <div class="navbar-brand">
    </div>
    <input type="checkbox" id="nav-toggle" name="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <i class="fa-solid fa-bars"></i>
    </label>
    <nav>
        <ul id="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'my_hotel' %}">Hotel</a></li>
            <li><a href="{% url 'spa_home' %}">Spa</a></li>
            <li><a href="{% url 'restaurant_home' %}">Restaurant</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'premises' %}">Premises</a></li>
            <li><a href="{% url 'contactus' %}">Contact</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}" class="btn-signup">Sign Out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Log in</a></li>
                <li><a href="{% url 'account_signup' %}" class="btn-signup">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
